body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  margin-left: 10px;
  height: 400px;
  width: 27%;
  height: 400px;
  border: black 1px solid;
  float: left;
}

li {
  margin: 5px;
  padding: 5px;
}